<html>
  <head>
    <style>
      .highlight {
        outline: 2px solid red;
      }
    </style>
  </head>
  <body>
    <script>
      document.addEventListener("mouseover", function (event) {
        const selectedEl = event.target as HTMLElement;
        selectedEl.classList.add("highlight");
      });

      document.addEventListener("mouseout", function (event) {
        const selectedEl = event.target as HTMLElement;
        selectedEl.classList.remove("highlight");
      });
    </script>
  </body>
  <h1>Hi</h1>
  <p>A load of text here</p>
  <h2>Another heading</h2>
  <p>More text</p>
  <h3>Another heading</h3>
  <p>More text</p>
  <h4>Another heading</h4>
  <p>More text</p>
  <h5>Another heading</h5>
  <p>More text</p>
  <div class="grid grid-cols-4">
    <p>HI</p>
    <p>HI</p>
    <p>HI</p>
    <p>HI</p>
    <p>HI</p>
  </div>
</html>
