---
import Layout from "../layouts/Layout.astro";
import AddSiteForm from "../components/AddSiteForm.astro";
---

<Layout title="Edge Function Personalization">
  <div class="prose my-12">
    <h1>Edge Function Personalization</h1>
    <p>Test out edge functions on your own site</p>
  </div>
  <AddSiteForm />
</Layout>
